*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#2193b0,#6dd5ed);
}

.weather-container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #176f88;
}

#weatherResult{
    margin-top: 20px;
    font-size: 18px;
}